.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: aliceblue;
  align-items: center;
  /* flex-wrap: wrap; */
}

.todo-list {
  width: 100%;
  flex: 1;
}

.todo-item {
  margin: 10px;
  display: flex;
  align-items: center;
  flex: 1;
}

.todo-item > span {
  flex: 1;
  padding: 8px;
}

.todo-filter {
  display: flex;
  width: 100%;
}
.todo-filter > button {
  flex: 1;
  background-color: gray;
  color: #fff;
}

.todo-filter > button.activeBtn {
  background-color: red;
}

/* when flex direction is row then Justify-content willl work on X Axix */
/* when flex direction is row then align-items willl work on Y Axix */

/* when flex direction is column then align-items willl work on X Axix */
/* when flex direction is column then Justify-content willl work on Y Axix */
